 .responsive-thumbnail{
    width: 50%;
    display: flex;
    align-items: center;
    @include sp{
        width: 100%;
       
    }
    img{
        width:200%;
        height:auto;
        max-height:100%;
    }
}



.p-menu-card{
    display: flex;
    margin:15px 0 0 0;
    background: #3C2B1C;
    &_custom{
        display: flex;
        position: relative;
    }
    &__intro{
        position: relative;
        display: flex;
        height: auto;
        z-index: 2;
        width: 100%;
        @include sp{
            display: block;
            flex-direction: column;
        }
    &__right{
        position: relative;
        height: auto;
        width: 50%;
        right: auto;
        @include sp{
            width: 100%;
        }
        &__h2{
            color: white;
            margin: 40px 20px;
            font-size: 1.3rem;
        }   
    &__title{
        text-align: center;
        right: 50%;
        color: white;
        font-size: 2rem;
        margin: 30px  0;
        @include sp{
            font-size: 1.6rem;
        }
    }
    &__except{
        color: white;
        right: 0%;
        font-size: 1.2rem;
        margin: 20px;
        @include tab{
            font-size: 1.4rem;
        }
        
    }
    &__permalink{
        background-color: white;
        font-size: 1.0rem;
        font-weight: 700;
        padding: 10px;
        margin: 40px auto;
        border-radius: 40px;
        line-height: 50px;
        width: 50%;
        text-align: center;
        >a{
            color: black;
        }
    }
}
}
}