 .responsive-thumbnail{
    width: 50%;
    display: flex;
    align-items: center;
    @include sp{
        width: 100%;
    }
    img{
        width:auto;
        height:auto;
        max-width:100%;
        max-height:100%;
    }
}



.p-menu-card{
    display: flex;
    margin:15px 0 0 0;
    background: #3C2B1C;
    &_custom{
        display: flex;
        position: relative;
    }
    &__intro{
        position: relative;
        display: flex;
        margin: 0px 0 0 0;
        height: auto;
        z-index: 2;
        width: 100%;
        @include sp{
           flex-direction: column;
        }
    &__right{
        position: relative;
        height: auto;
        width: 50%;
        right: auto;
        @include sp{
            width: 100%;
        }
    &__title{
        text-align: center;
        right: 50%;
        color: white;
        font-size: 2rem;
        
        @include sp{
            font-size: 1.4rem;
        }
    }
    &__except{
        color: white;
        right: 0%;
        font-size: 1.2rem;
        @include tab{
            font-size: 1.4rem;
        }
        
    }
    &__permalink{
        background-color: white;
        color: black;
        font-size: 1.2rem;
        font-weight: 700;
        padding: 4px;
        margin: 30px auto;
        border-radius: 30px;
        line-height: 50px;
        width: 50%;
        text-align: center;
    }
}
}
}