.p-menu-card{
    display: flex;
    flex-direction:column;
    background: #3C2B1C;
        @include tab{
            margin: 0px;
        }
    &__eyecatch{
        background-size: cover;
        background-position: center;
        height: auto;
        width: 50%;
        z-index: 1;
    } 
    &__intro{
        display: block;
        margin: 20px 0 0 0;
        position: relative;
        
        @include tab{
            
        }
        &__permalink{
            padding: 60px 0 0 0;
        }
    &__title{
        position: absolute;
        color: white;
        h2{
            padding: 20px 0;
            font-size: 1.5rem;
            }      
        }
    &__except{
        position: absolute;
        padding: 30px 0px 0px 0px;
        color: white;

        }
    &__permalink{
        
        color: black;
        font-size: 1.2rem;
        font-weight: 700;
        padding: 4px;
        margin: 30px auto;
        border-radius: 30px;
        line-height: 50px;
        width: 50%;
        text-align: center;
        
    }
    }
}