.p-menu-card{
    height: auto;
    width: 100%;
    background-color: #3C2B1C; 
    margin-top: 100px;
    img{
        position: absolute;
        background-image:url("../pictures/マスクグループ.png");
        background-size: cover;
        background-position: center;
        z-index: 2;
        width: 2%; 
        height: auto; 
    } 
    &__intro{
        height: auto;
        p{
            padding-top: 35px; 
            padding-bottom: 50px; 
        }
        h3{
            font-size: 1.2rem;
            margin: 0 0 20px 40px;
        }
    }
}