.l-archive{
    &__top{
        display: flex;
        position: relative;
        &__img{
            height: 500px;
            width: auto;   
<<<<<<< HEAD
            background-image:url("../../pictures/マスクグループ.png");
=======
            background-image:url("../hamburger/pictures/hamburger_set.png");
>>>>>>> 0c649cc0cb4961ecfc7d0d514f0f9bae2f2d27f9
            background-size: cover;
            background-position: center;
        } 
    }
}