@import "../foundation/_mixin";

.l-contents{
    display: flex;
    justify-content: space-between;
    &__left{
        width: 80%;
        @include tab{
            width: 100%;
        }
        &__page{
            &__top{
                display: flex;
                &__img{
                    background-image:url("../pictures/page_top.png");
                    background-size: cover;
                    background-position: center;
                    height: 400px;
                    width: 100%;
                    z-index: 1;
                    &__big{
                        height: 400px;
                        width: 100%;
                    }
                }
                &__word{
                    position: absolute;
                    color: white;
                    z-index: 2;
                    line-height: 400px;
                    font-size: 2.5rem;
                    margin: 0 0 0 40px;
                }
            }    

        }
        &__single{
            @include sp{
                flex-flow: column;
                
            }
            &__top{
                h1{
                    margin: 0 0 0 30px;
                }
            }
            &__bold{
                font-weight: bold;
                font-size: 0.8rem;
                margin: 40px 0 40px 40px;
            }
            &__switch{
                background-color: #E6E0DC;
                color: black;
                font-size: 1.0rem;
                font-weight: 500;
                padding: 4px;
                margin: 30px;
                border-radius: 20px;
                line-height: 80px;
                width: 50%;
                text-align: center;
                border: solid 1px #333;
                cursor: pointer;
                a{
                    display: block;
                    line-height: 80px;
                    width: 100%;
                    color: black;
                    font-weight: bold;
                }
            }
            &__table{
                width: 90%;
                border-collapse: collapse;
                margin: 0 0px 20px 30px;
                th{
                    width: 40%;
                    border: solid 1px #333;
                    padding: 20px;
                }
                td{
                    width: 60%;
                    border: solid 1px #333;
                    padding: 20px;
                }
            }
            &__list{
                margin: 30px;
                &__1{
                    font-size: 0.8rem;
                }
                &__2{
                    font-size: 0.8rem;
                    margin: 20px 0 20px 15px;
                }
            }
            &__h2{
                margin: 30px;
                font-size: 2rem;
            }
            &__h3{
                margin: 30px;
                font-size: 1.5rem;
            }
            &__h4{
                margin: 30px;
                font-size: 1.2rem;
            }
            &__h5{
                margin: 30px;
                font-size: 1rem;
            }
            &__p{
                margin: 30px;
                font-size: 0.8rem;
            }
            &__gray{
                margin: 30px;
                background-color: #F5F5F5;
                font-size: 0.8rem;
                p{
                    padding: 30px;
                }
            }
            &__burger{
                    &__img{
                        background-image:url("../pictures/hamburger_set.png");
                        background-size: cover;
                        background-position: center;
                        height: 400px;
                        width: 550px;
                        margin:0px auto;
                        @include sp{
                            height: 200px;
                            width:400px;

                        }
                        
                    }
                    &__set{
                        display: flex;
                        margin: 50px auto;
                        justify-content: center;
                        &__img{
                            background-image:url("../pictures/hamburger_set.png");
                            background-size: cover;
                            background-position: center;
                            height: 500px;
                            width: 700px;
                            margin: 60px 45px;
                            @include tab{
                                height: 250px;
                                width:450px;
                            }
                            @include sp{
                                height: 100px;
                                width: 300px;
                            }
                            &__big{
                            background-image:url("../pictures/hamburger_set.png");
                            background-size: cover;
                            background-position: center;
                            height: 400px;
                            width: 700px;
                            margin: 40px auto;
                            }
                        }
                        &__sentence{
                            height: 200px;
                            width: 450px;
                            font-size: 0.8rem;
                            margin: 40px 10px;
                            @include sp{
                                height: 100px;
                                width: 400px;
                            }
                        }
                        &__images{
                            background-image:url("../pictures/hamburger_set.png");
                            background-repeat:space;
                            background-size: 33%;
                            width: 95%;
                            height: 700px;
                            margin: 0px 0px 0px 20px;
                        }
                    }
                }
            &__top{
                display: flex;
                &__img{
                    background-image:url("../pictures/topチーズバーガー.png");
                    background-size: cover;
                    background-position: center;
                    height: 400px;
                    width: 100%;
                    z-index: 1;
                }
                &__word{
                    position: absolute;
                    color: white;
                    z-index: 2;
                    line-height: 400px;
                    font-size: 2.5rem;
                }
                

            }
        }
        &__archive{
            &__top{
                display: flex;
                position: relative;
                height: 200px;
                &__bg{
                    position: absolute;
                    background-color: black;
                    height: 200px;
                    width: 100%;
                    z-index: 1;
                }
                &__img{
                    position: absolute;
                    background-image:url("../pictures/マスクグループ.png");
                    background-size: cover;
                    background-position: center;
                    height: 200px;
                    width: 100%;
                    z-index: 2;
                }
                &__word{
                    color: white;
                    z-index: 3;
                    display: flex;
                    line-height: 200px;
                    margin-left: 20px;
                    h1{
                        font-size: 2.5rem
                    }
                    p{
                        margin: 5px 30px 0 5px;
                        font-size: 1.5rem;
                    }
                }
                &__title{
                    margin: 50px 30px 25px 30px;
                    h2{
                        margin: 25px 0;
                        font-size: 1.5rem;
                    }      
                }
            } 
            &__bottom{
                    &__menu{
                        display: flex;
                        position: relative;
                        margin: 400px 30px 25px 30px;
                        top: -350px;
                        @include tab{
                            margin:720px 30px 25px 30px;
                            top:-670px

                        }
                       
                        

                        &__img{
                            background-image:url("../pictures/チーズバーガー.png");
                            background-size: cover;
                            background-position: center;
                            height: 350px;
                            width: 100%;
                            position: absolute;
                            z-index: 1;
                        }
                        &__box{
                            left: 50%;
                            height: 350px;
                            width: 50%;
                            margin-top: 100px 0 0 0;
                            position: absolute;
                            z-index: 2;
                            background-color: #3C2B1C;
                            color: white;
                            h2{
                                font-size: 1.5rem;
                                margin: 30px 0px 30px 40px;
                            }
                            h3{
                                font-size: 1.2rem;
                                margin: 0 0 20px 40px;
                            }
                            p{
                                margin: 0px 20px 0 40px;

                            }
                            @include tab{
                                width: 100%;
                                top: 350px;
                                left: 0px;

                            }
                        &__switch{
                            background-color: white;
                            color: black;
                            font-size: 1.2rem;
                            font-weight: 700;
                            padding: 4px;
                            margin: 30px auto;
                            border-radius: 30px;
                            line-height: 50px;
                            width: 50%;
                            text-align: center;
                        }
                    }
                }
            }
        }
    }
    &__right{
        width: 20%;
        background-color: #F2EDE9;
        @include tab{
            width: 0%;
        }
    }
}