.l-main {
  &__top {
    height: 530px;
    background-image: url("../pictures/ダミーサイト.png");
    background-size: cover;
    background-position: center;
    > a {
      color: white;
    }
    p {
      font-weight: bold;
      line-height: 530px;
      padding: 0px 30px;
      font-size: 3rem;
    }
  }
  &__bottom {
    display: flex;
    margin: 0 0px 0 0;
    padding: 120px 60px;
    @include tab {
      padding: 40px 20px;
      margin: 0 15px 0 15px;
    }
    @include sp {
      display: block;
      padding: 20px 20px;
    }
    &__right {
      height: 1200px;
      width: 630px;
      background-image: url("../pictures/Eat in.png");
      background-size: cover;
      background-position: center;
      position: relative;
      margin: 0px 0px 0 30px;
      > a {
        color: white;
        > p {
          font-size: 3rem;
          font-family: Roboto;
        }
      }
      p {
        font-weight: bold;
        padding: 15px 15px 15px 15px;
        margin: 20px 0 0 0;
      }
      @include tab {
        height: 700px;
        width: 500px;
        margin: 0px 0px 0 10px;
      }
      @include sp {
        width: 100%;
        margin-top: 20px;
        margin-left: 0px;
      }
    }
    &__left {
      height: 1200px;
      width: 630px;
      background-image: url("../pictures/Take out.png");
      background-size: cover;
      background-position: center;
      position: relative;
      margin: 0px 60px 0 0px;
      > a {
        color: white;
        > p {
          font-size: 3rem;
          font-family: Roboto;
        }
      }
      p {
        font-weight: bold;
        padding: 15px 15px 15px 15px;
        margin: 20px 0 0 0;
      }
      @include tab {
        height: 700px;
        width: 500px;
        margin: 0px 15px 0px 0px;
      }
      @include sp {
        width: 100%;
        margin-top: 20px;
      }
    }
    &__box {
      font-weight: bold;
      position: absolute;
      bottom: 30px;
      margin: 0px 10px -15px 7px;
      width: 95%;
      color: #3c2a10;
      &__1__left,
      &__2__left,
      &__1__right,
      &__2__right{
        padding: 10px 0 10px 0px;
        margin: 10px 10px 0px 10px;
        background-color: rgba($color: white, $alpha: 0.8);
        font-size: 0.8rem;
        @include tab {
          height: 80px;
          top: 100px;
        }
      }
      h2 {
        margin-top: 5px;
        padding-left: 15px;
        font-size: 1.5rem;
      }
    }
  }

  &__under {
    &__map {
      width: 100%;
      display: flex;
      position: relative;
      margin: 0 0 0px;

      &__img {
        width: 100%;
        top: 0;
        margin: 0　auto;
      }

      &__box {
        position: absolute;
        z-index: 2;
        width: 65%;
        height: auto;
        padding-bottom: auto;
        background-color: rgba($color: black, $alpha: 0.5);
        @include tab {
          width: 80%;
        }
        .title {
          font-size: 2rem;
          margin: 60px;
        }
        p {
          height: auto;
          color: white;
          margin-top: 50px;
          line-height: 40px;
          line-height: 1.6rem;
          margin: 60px;
        }
        &:hover {
          display: none;
        }
      }
    }
  }
}
