

.l-sidebar{
    @include tab{
        position:fixed;
        overflow: scroll;
        z-index: 9999;
        top:0;
        right: -100%;
        width: 48%;
        height: 100vh;
        background-color: #F2EDE9;
        transition: all 0.6s;
        padding: 0 0 0 0px;
        margin: 0 0 0 0;
        @include sp{
           
        }
        &.__is-open{
            right: 0%;
        }
    }    
    height: inherit;
    margin: -220px 0 0 0;
    &__batsu{
        display: none;
        &.__is-open{
            display: block;
            margin: 60px 0 0 auto;
            text-align: right;
            cursor: pointer;
            display: block;
            width: 50px;/*枠の大きさ*/
            height: 50px;/*枠の大きさ*/
            background: #F2EDE9;
            position: relative;
            &::before{
                content: "";
                display: block;
                width: 100%;/*バツ線の長さ*/
                height: 5px;/*バツ線の太さ*/
                background: #707070;
                transform: rotate(45deg);
                transform-origin:0% 50%;
                position: absolute;
                top: 0px;
                left: 14%;
            }
            &::after{
                content: "";
                display: block;
                width: 100%;/*バツ線の長さ*/
                height: 5px;/*バツ線の太さ*/
                background: #707070;
                transform: rotate(-45deg);
                transform-origin:0% 50%;
                position: absolute;
                top: 36px;
                left: 14%;
            }
       }
   }
    >a{
        display: block;
        font-size: 34px;
        font-weight: 600;
        color: #707070;
        margin: 110px 30px;
        @include tab{
            display: none;
        }

    }
    ul{
        margin: -30px 0px 0px 0px;
        @include tab{
           margin: 10px 0px 0px 10px;
        }
        li{
            padding-bottom: 15px;
            font-size: 24px;
            font-weight: bold;
            margin-left: 0px;
            list-style-type: none;
            @include tab{
                
            }
            >a{
                color: #707070;
                margin-left: 0%;
                @include tab{
                    margin-left: 10%;
                }
                @include sp{
                    margin-left: 0%;
                }
            }
            >ul{
                @include tab{
                    margin: 30px 0px 0px 10px;
                }
                >li{
                    margin: 10px 0px 0px 15px;
                    @include tab{
                        margin: 0px 0px 0px 0px;
                    }
                }
            }
            ul{
                padding-top: 55px;
                @include tab{
                    padding-top: 0px;
                }
                padding-left: 0px;

                li{
                    font-size: 20px;
                    padding-bottom: 30px;
                    font-weight: normal;
                    a{
                        color: #707070;
                    }
                }
            }
        }
    }
    
}

.title{
    font-size: 3rem;
    color:white;
    font-family: Roboto;
}

.l-sidebar2{
    @include tab{
        position:fixed;
        overflow: scroll;
        z-index: 999;
        top:0;
        right: -100%;
        width: 100%;
        height: 100vh;
        background-color: #787878;

        @include sp{
           
        }
        &.__is-open{
            left: 0;
           
        }
    }
}    