.l-sidebar {
  @include tab {
    position: fixed;
    overflow: scroll;
    z-index: 9999;
    top: 0;
    right: -100%;
    width: 40%;
    height: 100vh;
    background-color: #f2ede9;
    transition: all 0.6s;
    padding: 0 0 0 0px;
    margin: 0 0 0 0;
    @include sp {
      width: 80%
    }
    &.__is-open {
      right: 0%;
    }
  }
  height: inherit;
  margin: -220px 0 0 0;
  &__batsu {
    display: none;
    &.__is-open {
      display: block;
      margin: 50px 0 0 auto;
      text-align: right;
      cursor: pointer;
      display: block;
      width: 50px; /*枠の大きさ*/
      height: 50px; /*枠の大きさ*/
      background: #f2ede9;
      position: relative;
      &::before {
        content: "";
        display: block;
        width: 100%; /*バツ線の長さ*/
        height: 5px; /*バツ線の太さ*/
        background: #707070;
        transform: rotate(45deg);
        transform-origin: 0% 50%;
        position: absolute;
        top: 0px;
        left: 14%;
      }
      &::after {
        content: "";
        display: block;
        width: 100%; /*バツ線の長さ*/
        height: 5px; /*バツ線の太さ*/
        background: #707070;
        transform: rotate(-45deg);
        transform-origin: 0% 50%;
        position: absolute;
        top: 36px;
        left: 14%;
      }
    }
  }
  > a {
    display: block;
    font-size: 30px;
    font-weight: 600;
    color: #707070;
    margin: 110px 30px;
    font-family: Roboto;
    @include tab {
      display: none;
    }
  }
  ul {
    margin: -30px 0px 0px -10px;
    @include tab {
      margin: 10px 0px 0px -20px;
      padding: 0 0 0 0;
    }
    li {
      padding-bottom: 25px;
      font-size: 1rem;
      font-weight: bold;
      margin-left: 0px;
      list-style-type: none;
      @include tab {
        font-size: 24px;
      }
      > a {
        color: #707070;
        margin-left: 0%;
        font-size: 1.3rem;
        @include tab {
          margin-left: 15%;
        }
        @include sp {
          margin-left: 15%;
          font-size: 1.2rem;
        }
      }
      > ul {
        @include tab {
          margin: 15px 0px 0px 10px;
        }
      }
      ul {
        padding: 55px 0 0 30px;
        @include tab {
          padding: 0px 0 0 30px;
        }
        li {
          font-size: 40px;
          padding-bottom: 15px;
          font-weight: normal;
          a {
            color: #707070;
          }
        }
      }
    }
  }
}

.menu-cateogrymenu-container {
  @include tab {
    margin-left: 0px;
    margin-top: 100px;
  }

  @include sp {
    margin-left: 30px;
  }
}

.title {
  font-size: 3rem;
  color: white;
  font-family: Roboto;
}

.l-sidebar2{
  @include tab{
    display: none;
    position:fixed;
    overflow: scroll;
    z-index: 999;
    top:0;
    right: 0%;
    width: 100%;
    height: 100vh;
    background-color: rgba(120,120,120,0.7) ;
    animation-name: fadein;
      animation-duration: 0.5s;
      animation-fill-mode:forwards;

    @include sp{

    }
    &.__is-open{
      @keyframes fadein  {
        from {
            opacity: 0;
             transform: translateX(0px);
        }
        to {
            opacity: 1;
            transform: translateX(0px);
        }
      }
      display: block;
        left: 0%;
    }}}