.pages{
  font-size: 1.2rem;
  margin: 15px;
}
.wp-pagenavi{
  >a{
    border: solid 1px;
  font-size: 1.5rem;
  padding: 7px 9px 7px 9px;
  margin: 5px;
  }
  
}

.current {
  background-color: #3c2b1c;
  color: #fff;
  font-size: 1.5rem;
  padding: 7px 9px 7px 9px;
  margin: 5px;
}

.nextpostslink,.previouspostslink{
  font-size: 2.4rem;
  padding: 7px 7px 7px 7px;
  color: #707070;
}

.p-pagenation {
  width: 100%;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Robot;
  ul {
    display: flex;
    margin-top: 40px;
    li {
      padding: 10px 10px;
      font-size: 1.3rem;
      .dots {
        padding: 20px 0 0 0;
      }
      
      & a {
        display: block;
        color: #3c2b1c;
        border: solid 1px #3c2b1c;
        padding: 10px;
        margin: 6px 0 0 0;
        @include sp {
          display: none;
          border: none;
          font-size: 1.3rem;
        }
        &.prev {
          border: none;
          //.prevのついた要素は表示し位置を指定
          @include sp {
            display: block;
            position: absolute;
            left: 0;
          }
          &::after {
            //「前へ」部分のスタイル。基本は非表示だけどスマホの時だけ見せる
            width: 70px;
            content: "前へ";
            display: none;
            position: absolute;
            left: 30px;
            top: 12px;
            padding-left: 3px;
            @include sp {
              display: block;
            }
          }
        }
        &.next {
          border: none;
          @include sp {
            //.nextのついた要素は表示し位置を指定
            display: block;
            position: absolute;
            right: 0;
          }
          &::before {
            //「次へ」部分のスタイル。基本は非表示だけどスマホの時だけ見せる
            width: 70px;
            text-align: right;
            content: "次へ";
            display: none;
            position: absolute;
            right: 30px;
            top: 12px;
            padding-right: 3px;
            @include sp {
              display: block;
            }
          }
        }
      }
      span {
        line-height: 58px;
        @include sp {
          display: none;
        }
      }
      .current {
        @include sp {
          display: none;
        }
      }
    }
  }
}

.p-pagenation {
  &--pc,
  &--tab {
    ul {
      padding: 7px 30px;
      li {
        padding: 7px 15px;
        a {
          @include sp {
            display: none;
          }
          &.prev {
            //.prevのついた要素は表示し位置を指定
            @include sp {
              display: block;
              position: absolute;
              left: 0;
            }
            &::after {
              //「前へ」部分のスタイル。基本は非表示だけどスマホの時だけ見せる
              width: 70px;
              content: "前へ";
              display: none;
              position: absolute;
              left: 30px;
              top: 12px;
              padding-left: 3px;
              @include sp {
                display: block;
              }
            }
          }
          &.next {
            @include sp {
              //.nextのついた要素は表示し位置を指定
              display: block;
              position: absolute;
              right: 0;
            }
            &::before {
              //「次へ」部分のスタイル。基本は非表示だけどスマホの時だけ見せる
              width: 70px;
              text-align: right;
              content: "次へ";
              display: none;
              position: absolute;
              right: 30px;
              top: 12px;
              padding-right: 3px;
              @include sp {
                display: block;
              }
            }
          }
        }
      }
    }
  }
}
