.p-pagenation{
    width: 100%;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    ul{
        display: flex;
        margin-top: 10px;
        li{
            padding: 10px 8px;
            font-size: 1.2rem;
            @include tab{
                font-size: 0.8rem;
       
            }
            .dots{
                padding: 10px 0 0 0;
            }
            .current{
                border: solid 3px #3C2B1C;
                background-color: #3C2B1C;
                color: #fff;
                font-size: 2.7rem;
                @include tab{
                    font-size: 2.2rem;
                }
            }
            a{
                display: block;
                color: #3C2B1C;
                border: solid 1px #3C2B1C;
                padding: 10px;
                margin: 6px 0 0 0;
            }
            @include tab{
                font-size: 0.8rem;
        
            }
        }
    }
}