.p-pagenation{
    width: 100%;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    ul{
        display: flex;
        li{
            padding: 0 8px;
            font-size: 1.2rem;
            @include tab{
                font-size: 0.8rem;
                padding: 0 4px;
       
            }
            a{
                display: block;
                color: #3C2B1C;
                border: solid 1px #3C2B1C;
                padding: 10px;
            }
            @include tab{
                font-size: 0.8rem;
        
            }
        }
    }
}